/******************* INICIO COMPONENTES DO TOPO ***************/
.bu-toggle{
	float: right;
	margin-top: 12px;
	color: #E0EEEF;
}


/******************* INICIO BOTOES ***************/
.bu-botao-toggle{
	margin-right: 20px !important;
}


.ui-widget  .bu-botao-azul{
	background-color: #286090  !important;
	color: white;
	max-width: 110px !important;	
}

.ui-widget  .bu-botao-vermelho{background-color: #d9534f  !important;		color: white;}

.ui-widget  .bu-botao-laranja{background-color: #f0ad4e  !important;		color: white;}

.ui-widget  .bu-botao-verde{background-color: #4CAF50  !important;			color: white;}


.bu-selectOneButton .ui-button{
	background-color: #f5f5f5!important;
	color: black;
	border: solid 1px #dbdbdb!important;
}

.bu-selectOneButton .ui-state-active{
	background-color: #176ba0!important;
	color: white;
}


/******************* INICIO MENSAGENS ***************/

.ui-growl-title {font-size: 12px ;	text-align: center;	}

.ui-growl-message {font-size: 12px; letter-spacing: -1px;}

.ui-dialog{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}



/******************* INICIO PANEL GRID ***************/
.ui-grid-row{
	padding: 3px 0px;
}



.ui-grid-row > .ui-panelgrid-cell.ui-grid-col-1.bu-texto.bu-left{
	margin-top: 5px!important;
	padding-left: 40px!important;
}

.ui-grid-row > .ui-panelgrid-cell.ui-grid-col-1.bu-texto{
	margin-top: 5px!important;
}


.ui-grid-row > .ui-panelgrid-cell.ui-grid-col-2.bu-texto.bu-left{
	margin-top: 5px!important;
	padding-left: 40px!important;
}

.ui-grid-row > .ui-panelgrid-cell.ui-grid-col-2.texto{
	margin-top: 5px!important;
}